:root {
    --primary-r: 0;
    --primary-g: 99;
    --primary-b: 255;
    --primary-accent-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1.0);
    --secondary-accent-color: rgba(0, 99, 255, 0.2);
}
