:root {
    --primary-r: 0;
    --primary-g: 164;
    --primary-b: 220;
    --primary-accent-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1.0);
    --secondary-accent-color: rgba(0, 164, 220, 0.2);
}
